<style>
  /* Custom styles for the navbar */
.navbar-custom {
  background-color: #333; /* Choose your desired background color */
  color: #fff; /* Text color */
}

.navbar-custom a {
  color: #fff; /* Link color */
  text-decoration: none;
}

.navbar-custom a:hover {
  text-decoration: underline; /* Add an underline on hover for links */
}

</style>
<nav class="fixed-top navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="#">Meet Soni</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">n01545343</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
